<script type='text/javascript' charset='utf-8'>
    let wtpQualitySign_projectId = '{{ paysera_project_id }}';
	let wtpQualitySign_language = '{{ paysera_sign_lang }}';
</script>
<script src='https://bank.paysera.com/new/js/project/wtpQualitySigns.js' type='text/javascript' charset='utf-8'></script>
